<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <main class="page-main">
        <div class="grid__container">
            @RenderBody()
        </div>
    </main>

    <script src="/scripts/main.js"></script>
</body>
</html>