<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="" viewEngine="Razor"
        moduleJsonSerializerType="None" prefferedUiJsonSerializerType="Net">
    <assemblies>
        <add assembly="AdvancedTask" />
    </assemblies>

    <dojo>
        <packages>
            <add name="advanced-task" location="ClientResources" />
        </packages>
    </dojo>

    <clientResources>
        <add name="advanced-task-vendor" path="ClientResources/vendor/jquery-2.1.0.min.js" resourceType="Script" sortIndex="1" />
        <add name="advanced-task-vendor" path="ClientResources/vendor/jquery-ui.min.js" resourceType="Script" sortIndex="2" />
    </clientResources>

    <clientModule>
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
        <requiredResources>
            <add name="advanced-task-vendor" />
            <add name="advanced-task-styles" />
        </requiredResources>
    </clientModule>
</module>